#root {
  width: 640px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.input-area {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.input-area textarea {
  min-width: 360px;
  margin-right: 8px;
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
}

.input-area button {
  background-color: #3366ff;
  height: 40px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* オプション: ツールチップがあることを示すための下線 */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: whitesmoke;
  border: #2d2d2d solid 1px;
  color: #2d2d2d;
  font-size: x-small;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* 位置とスタイル */
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  margin-left: -60px; /* ツールチップの幅の半分 */

  /* ホバー時に表示 */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.message {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
}

.user {
  background-color: lightblue;
  color: #2d2d2d;
  text-align: right;
  margin-left: auto;
  max-width: 100%;
}

.assistant {
  background-color: lightgray;
  color: #2d2d2d;
  text-align: left;
  margin-right: auto;
  max-width: 100%;
}

.message-list {
  display: flex;
  flex-direction: column;
}
